#name{
    padding: 10px;
}
#miah{
    background-color: teal;
    color: snow;
}
html{
    background-image: url("https://images.pexels.com/photos/276237/pexels-photo-276237.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=500&w=500");
}